@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Protest+Guerrilla&display=swap');

:root {
    --glow-color: rgba(236, 162, 31, 1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
}

/* BUTTON  */
.multi-btn {
    font-family: "Nunito", sans-serif;
    background: linear-gradient(-90deg, rgba(236, 162, 31, 1) 10%, rgba(95, 52, 15, 1) 100%);
    background-color: rgb(236, 162, 31);
    border-radius: 7px;
    padding: 0.6em 1.25em;
    font-weight: 900;
    color: black;
    text-decoration: none;
    border: none;
    outline: none;
    transition: 0.3s;

    &:hover {
        scale: 1.1;
    }
}

.multi-btn span svg {
    margin-left: 5px;
    margin-top: -3px;
    font-size: 1.1rem;
}

/* NAVBAR SECTION  */

.nav-logo h1 {
    font-family: "Protest Guerrilla", sans-serif;
    background-image: linear-gradient(180deg, rgba(236, 162, 31, 1) 0%, rgba(95, 52, 15, 1) 100%);
    color: transparent;
    background-clip: text;
    font-size: 3.5rem;
    font-weight: 600;
    padding-right: 2px;
    cursor: pointer;
}

.glowing-btn {
    color: var(--glow-color);
    cursor: pointer;
    padding: 0.35rem 1rem;
    border: 0.1rem solid var(--glow-color);
    border-radius: 0.45rem;
    background: black;
    perspective: 2rem;
    font-family: "Raleway", sans-serif;
    font-size: 0.8rem;
    font-weight: 900;
    letter-spacing: 0.6rem;

    -webkit-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
        0px 0px 0.5em 0px var(--glow-color);
    -moz-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
        0px 0px 0.5em 0px var(--glow-color);
    box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
        0px 0px 0.5em 0px var(--glow-color);
    animation: border-flicker 2s linear infinite;
}

.glowing-txt {
    margin-right: -0.8em;
    -webkit-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
        0 0 0.45em var(--glow-color);
    -moz-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
        0 0 0.45em var(--glow-color);
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--glow-color);
    animation: text-flicker 3s linear infinite;
}

.faulty-letter {
    opacity: 0.5;
    animation: faulty-flicker 2s linear infinite;
}

.glowing-btn::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.7;
    filter: blur(1em);
    transform: translateY(120%) rotateX(95deg) scale(1, 0.35);
    background: var(--glow-color);
    pointer-events: none;
}

.glowing-btn::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    z-index: -1;
    background-color: var(--glow-color);
    box-shadow: 0 0 2em 0.2em var(--glow-color);
    transition: opacity 100ms linear;
}

.glowing-btn:hover {
    color: rgba(0, 0, 0, 0.8);
    text-shadow: none;
    animation: none;
}

.glowing-btn:hover .glowing-txt {
    animation: none;
}

.glowing-btn:hover .faulty-letter {
    animation: none;
    text-shadow: none;
    opacity: 1;
}

.glowing-btn:hover:before {
    filter: blur(1.5em);
    opacity: 1;
}

.glowing-btn:hover:after {
    opacity: 1;
}

@keyframes faulty-flicker {
    0% {
        opacity: 0.1;
    }

    2% {
        opacity: 0.1;
    }

    4% {
        opacity: 0.5;
    }

    19% {
        opacity: 0.5;
    }

    21% {
        opacity: 0.1;
    }

    23% {
        opacity: 1;
    }

    80% {
        opacity: 0.5;
    }

    83% {
        opacity: 0.4;
    }

    87% {
        opacity: 1;
    }
}

@keyframes text-flicker {
    0% {
        opacity: 0.1;
    }

    2% {
        opacity: 1;
    }

    8% {
        opacity: 0.1;
    }

    9% {
        opacity: 1;
    }

    12% {
        opacity: 0.1;
    }

    20% {
        opacity: 1;
    }

    25% {
        opacity: 0.3;
    }

    30% {
        opacity: 1;
    }

    70% {
        opacity: 0.7;
    }

    72% {
        opacity: 0.2;
    }

    77% {
        opacity: 0.9;
    }

    100% {
        opacity: 0.9;
    }
}

@keyframes border-flicker {
    0% {
        opacity: 0.1;
    }

    2% {
        opacity: 1;
    }

    4% {
        opacity: 0.1;
    }

    8% {
        opacity: 1;
    }

    70% {
        opacity: 0.7;
    }

    100% {
        opacity: 1;
    }
}

/* HOME SECTION  */

.home-section {
    height: 100vh;
}

.bg-clip {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

@media(min-aspect-ratio:16/9) {
    .bg-clip {
        width: 100%;
        height: auto;
    }
}

@media(max-aspect-ratio:16/9) {
    .bg-clip {
        width: auto;
        height: 100%;
    }
}

.hero-section {
    width: 100%;
    position: absolute;
    top: 35%;
    left: 0;

}

.hero-content {
    width: 80%;
    margin: 0 auto;
}

.hero-content h1 {
    font-family: "Lexend", sans-serif;
    font-size: 3.5rem;
    font-weight: 900;
    color: #4b4c4e;
}

.hero-content h4 {
    font-family: "Lexend", sans-serif;
    font-weight: 600;
    font-style: italic;
    color: #4b4c4e;
}

.social-box {
    position: absolute;
    top: 30%;
    right: 1.5rem;
}

.social-box .home-social-icon a {
    color: #90919a;
    font-size: 1.7rem;
}

.social-box .home-social-icon a svg {
    transition: 0.3s;

    &:hover {
        scale: 1.2;
        color: #b9b9c0;
    }
}


.cv-btn-box {
    position: absolute;
    bottom: 3rem;
    left: 45%;
}

/* PROJECT SECTION  */

.project-section {
    padding: 0 3rem;
    background-color: #fafafa;
}

.project-heading {
    margin-top: 4px;
    margin-bottom: 3rem;
}

.project-heading span {
    color: rgb(255 164 5);
}

.project-content-parent-box {
    margin-bottom: 4rem;
}

.project-centent-heading a {
    text-decoration: none;
}

.project-centent-heading a svg {
    font-size: 1.5rem;
    margin-bottom: 4px;
}

.project-centent-sub-heading {
    font-size: 1.1rem;
}

.project-content-description {
    font-size: 0.9rem;
}

.project-used-technology-box {
    flex-wrap: wrap;
}

.project-used-technology-text {
    padding: 5px 10px;
    border: 1px solid #bfbfbf;
    border-radius: 15px;
    font-size: 0.8rem;
}


.project-img-parent-box {
    margin-bottom: 4rem;
}

.project-img-box {
    max-width: 365px;
    height: 245px;
    mix-blend-mode: multiply;
}

.project-img-box img {
    width: 100%;
    height: 100%;
    transition: 0.3s;

    &:hover {
        scale: 1.1;
    }
}



@media(min-width:425px) {
    .project-heading span {
        padding: 0.4rem 0.5rem;
        border: 2px solid;
        border-radius: 7px;
    }
}

@media(max-width:1024px) {
    .cv-btn-box {
        left: 41%;
    }
}

@media(max-width:768px) {

    /* home section  */
    .hero-content h1 {
        font-size: 2.5rem;
    }

    .cv-btn-box {
        left: 38%;
    }

    /* project section  */
    .project-section {
        padding: 0 2rem;
    }

    .project-img-parent-box {
        justify-content: center;
        margin-bottom: 1rem;
    }

    .project-img-box {
        height: 200px;
    }

    .project-content-parent-box {
        margin-bottom: 3rem;
    }
}

@media(max-width:425px) {

    /* MULTI BUTTON  */
    .multi-btn {
        padding: 0.4em 1.1em;
    }

    /* NAVBAR SECTION  */
    .glowing-btn {
        font-size: 0.6rem;
    }

    .nav-logo h1 {
        font-size: 3rem;
    }

    /* home section  */
    .hero-content h1 {
        font-size: 2rem;
    }

    .social-box {
        right: 1rem;
    }

    .cv-btn-box {
        left: 30%;
    }

    /* project section  */
    .project-heading {
        margin-bottom: 1.5rem;
    }

    .project-section {
        padding: 0 1rem;
    }
}

@media(max-width:375px) {

    /* home section  */
    .hero-content h1 {
        font-size: 1.8rem;
    }

    .hero-content h4 {
        font-size: 1.2rem;
    }

    .cv-btn-box {
        left: 27%;
    }
}